
<!-- <%= link_to "Back to all movies", movies_path %><br/> -->

<h2><%= @user.firstname %> <%= @user.lastname %> (<%= link_to "edit", edit_admin_user_path(@user) %>)</h2>
<p><%= @user.email %></p>

<p>
  be the first to review!
</p>
